[Unit]
Description=Ejecuta setup apiAccess (licencia auto) al boot y cada 1 dia

[Timer]
OnBootSec=10min
OnCalendar=*-*-* 05:00:00
RandomizedDelaySec=15min
Persistent=true

[Install]
WantedBy=timers.target